<% set_meta_tags title: @shop.name %>
<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <h3 class=" mb-3 mt-2 text-justify"><%= @shop.name %></h3>
    </div>

      <div class='col-4 col-md-3 col-lg-2 mb-3'>
        <%= link_to "https://twitter.com/share?url=#{request.url}/&text=#{@shop.name}%0aお気に入りのナポリピッツァ協会認定店を共有しよう。%0a&hashtags=真のナポリピッツァ部,真のナポリピッツァ協会 ", title: 'Twitter', target: '_blank', class: 'btn btn-outline-primary rounded-pill' do %>
          <i class="fab fa-twitter"></i>
          <span><%= (t 'shops.show.share') %></span>
        <% end %>
      </div>
      <div class="col-4 col-md-3 col-lg-2 mb-3">
      <% if logged_in? %>
        <%= render 'visit_button', shop: @shop %>
      <% else %>
        <%= render 'visit', { shop: @shop } %>
      <% end %>
      </div>
      <div class="col-4 col-md-3 col-lg-2 mb-3">
        <%= link_to '投稿する', new_shop_post_path(@shop), class: 'btn btn-warning rounded-pill', 'data-turbolinks': false %>
      </div>


    <div class='table-responsive justify-content-center'>
      <table class="table table-striped table-dark">
        <tbody>
          <tr>
            <th><%= (t 'shops.show.tel') %></th>
            <td><%= @shop.tel_number %></td>
          </tr>
          <tr>
            <th class="text-nowrap"><%= (t 'shops.show.address') %></th>
            <td><%= @shop.address %></td>
          </tr>
          <tr>
            <th><%= (t 'shops.show.access') %></th>
            <td><%= @shop.access %></td>
          </tr>
          <tr>
            <th><%= (t 'shops.show.open') %></th>
            <td><%= simple_format(h(@shop.open), {}, sanitize: false, wrapper_tag: "div") %></td>
          </tr>
          <tr>
            <th><%= (t 'shops.show.close') %></th>
            <td><%= @shop.close %></td>
          </tr>
          <tr>
            <th><%= (t 'shops.show.member_number') %></th>
            <td><%= @shop.member_number %></td>
          </tr>
          <tr>
            <th><%= (t 'shops.show.member_since') %></th>
            <td><%= @shop.member_since %></td>
          </tr>
          <tr>
            <th><%= (t 'shops.show.pizza_maker') %></th>
            <td><%= @shop.pizza_maker %></td>
          </tr>
          <tr>
            <th><%= (t 'shops.show.oven_used') %></th>
            <td><%= @shop.oven_used %></td>
          </tr>
          <tr>
            <th ><%= (t 'shops.show.url') %></th>
            <td><%= link_to @shop.url,@shop.url, class: 'text-white' %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id='map' class='mb-4 '></div>
    <div class='w-100 mb-3 row'>
      <p class='font-weight-bold ml-3 col'>部員口コミ</p>
      <%= link_to '投稿する', new_shop_post_path(@shop), class: 'btn btn-warning rounded-pill', 'data-turbolinks': false %>
    </div>
    <% if @posts.blank? %>
      <p>まだ口コミ投稿がありません</p>
    <% else %>
        <%= render 'posts/post' %>
    <% end %>
  </div>
</div>
