<div class="container">
  <div class="row form-height">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h2 class='my-4'><%= t '.title' %></h2>
      <%= form_with model: @user, local: true do |f| %>
         <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control my-2' %>
          <%= f.label :profile %>
          <%= f.text_area :profile, class: 'form-control my-2', size: "70x10" %>
        </div>
        <div class="form-group">
          <%= f.label :avatar %>
          <%= f.file_field :avatar, onchange: 'previewImage()', class: 'form-control my-2', accept: 'image/*' %>
          <%= f.hidden_field :avatar_cache %>
        </div>
        <div class='mt-3 mb-3'>
          <%= image_tag @user.avatar.url,
                                id: 'preview',
                              size: '150x150',
                             class: 'rounded-circle my-3' %>
        </div>
        <%= f.submit (t 'users.edit.update'), class: 'btn btn-dark' %>
      <% end %>
    </div>
  </div>
</div>
