<div class="mb-3">
  <% @posts.each do |post| %>
    <div class='bg-white rounded mb-3 p-3'>
      <p class='small'><%= link_to post.shop.name, shop_path(post.shop.id), class: 'text-dark', 'data-turbolinks': false %></p>
      <%= link_to user_path(post.user) do %>
        <div class='font-weight-bold  text-center col-12 col-sm-3'>
          <%= image_tag post.user.avatar_url, class: 'rounded-circle my-2', size: '120x120' %>
          <p class='text-dark'><%= post.user.name %></p>
      <% end %>
        </div>
      <p class='mt-4 ml-3 font-weight-bold'><%= post.title %></p>

      <p class='ml-3 text-jsutify'><%= simple_format(h(post.body)) %></p>
      <% post.image.each do |image| %>
        <%= image_tag image.url, class: 'rounded m-1', size: '250x200' %>
      <%end%>
      <div>
        <%= link_to 'すべて表示', post_path(post), class: 'ml-1' , 'data-turbolinks': false %>
        <p class='mb-0 mt-3'><%= post.set_date %></p>
      </div>
    </div>
  <% end %>
</div>
