<div class="mb-3">
  <% @posts.each do |post| %>
    <div class='bg-white rounded mb-3 p-3'>
      <p class='small'><%= link_to post.shop.name, shop_path(post.shop.id), class: 'text-dark' %></p>
      <%= image_tag post.user.avatar_url, class: 'rounded-circle', size: '100x100' %>
      <%= post.user.name %>
      <p class='font-weight-bold'><%= post.title %></p>
      <p><%= post.body %></p>
      <% post.image.each do |image| %>
        <%= image_tag image.url, class: 'rounded', size: '200x150' %>
      <%end%>
      <div>
        <%= link_to 'すべて表示', post_path(post), class: '' %>
        <p><%= post.set_date %></p>
      </div>
    </div>
  <% end %>
</div>
