<!DOCTYPE html>
<html>
  <head>
    <%= Gon::Base.render_data %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= include_gon %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="google-site-verification" content="FwyuAhmPSofoQoqK9YdZ5nijgOgrKXvjinK7YKtb5og" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G7T4C3WHL2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-G7T4C3WHL2');
    </script>
  </head>

  <body id='body'>
    <div class="wrap">
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
      <div id='contents'>
        <%= render 'shared/flash_message' %>
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap&libraries=&v=weekly"async></script>
</html>
